# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
*.sqlite3

# Django
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
